<%= flash[:error] %>

<h2 class="sign-in">会員の方はこちらからログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="col-md-12 sign-in-form">
  <h7 class="col-md-3">メールアドレス</h7>
  <div class="col-md-9">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-10",placeholder: "メールアドレス" %>
  </div>
</div>

<div class="col-md-12 sign-in-form">
  <h7 class="col-md-3">パスワード</h7>
  <div class="col-md-9">
    <%= f.password_field :password, autocomplete: "current-password", class: "col-md-10",placeholder: "パスワード" %>
  </div>
</div>

<% if devise_mapping.rememberable? %>
<div class="col-md-5 pull-right">
  <%= f.check_box :remember_me %>
  <%= f.label :ログイン状態を維持する %>
</div>
<% end %>
<div class="col-md-2 col-md-offset-5">
  <div class="actions">
    <%= f.submit "ログイン", class: "btn-sm btn-success sign-in" %>
  </div>
</div>
<div class="col-md-5 pull-right">
  <%= link_to'パスワードを忘れた方はこちら',new_user_password_path %>
</div>
<% end %>
<div class="col-md-10 col-md-offset-1 link">
  <h4>登録がお済みでない方</h4>
  <h5><%= link_to 'こちら', new_user_registration_path %>から新規登録を行ってください</h5>
</div>