

	<%= render 'layouts/images' %>

	<%= render 'customers/products/genre_index', genres: @genres %>

	<h3>オススメ商品</h3>
	<div class="col-md-3 text-center">
		<div><%= attachment_image_tag @reccomend, :image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg",size:'180x180' %></div>
		<p class="product"><%= link_to @reccomend.name, customers_product_path(@reccomend) %></p>
		<p class="product">¥<%= @reccomend.price %></p>
	</div>


<div class="col-md-12 text-right">
	<h4><%= link_to "もっと見る", customers_products_path %></h4>
</div>

	
