<h2><%= @user.first_name %><%= @user.last_name %>さんの会員情報編集</h2>
    <%= form_for(@user, url: admins_user_path) do |f| %>
<table>
	<tr>
		<th>会員ID</th>
		<td><%= @user.id %></td>
	</tr>
	<tr><td>　</td></tr>
	<tr>
		<th>氏名</th>
		<td><%= f.text_field :first_name %> <%= f.text_field :last_name %></td>
	</tr>
	<tr><td>　</td></tr>	
	<tr>
		<th>フリガナ</th>
		<td><%= f.text_field :first_name_kana %> <%= f.text_field :last_name_kana %></td>
	</tr>
	<tr><td>　</td></tr>
	<tr>
		<th>郵便番号</th>
		<td><%= f.text_field :postal_code %></td>
	</tr>
	<tr><td>　</td></tr>
	<tr>
		<th>住所</th>
		<td><%= f.text_field :address %></td>
	</tr>
	<tr><td>　</td></tr>
	<tr>
		<th>電話番号</th>
		<td><%= f.text_field :phone_number %></td>
	</tr>
	<tr><td>　</td></tr>
	<tr>
		<th>メールアドレス</th>
		<td><%= f.text_field :email %></td>
	</tr>
	<tr><td>　</td></tr>
  　<tr>
  	    <th>会員ステータス　</th>
  	    <td><%= f.radio_button :user_status, :false %>有効
  		    <%= f.radio_button :user_status, :true %>退会済み
  		</td>
    </tr>
	<tr><td>　</td></tr>
</table>
<%= f.submit "変更を保存する", class: "btn-sm btn-primary" %>
<% end %>
