<h2>商品新規登録</h2>

<div class="form-horizontal" role="form">
	<%= form_for [:admins, @product] do |f| %>
	<%= render 'layouts/error', model: @product %>
	<div class="col-xs-4">
		<div class="product-image">
        <%= attachment_image_tag @product, :image, class: "img-square", fallback: "no_image.jpg", size:"300x300" %>
      </div><br>
			<%= f.attachment_field :image %>
	</div>

	<div class="col-xs-8">
		<div class="form-group">
			<div class="col-xs-2">
				<%= f.label :商品名 %>
			</div>
			<div class="col-xs-10">
				<%= f.text_field :name %>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-2">
				<%= f.label :商品説明 %>
			</div>
			<div class="col-xs-10">
				<%= f.text_area :introduction %>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-2">
				<%= f.label :ジャンル %>
			</div>
			<div class="col-xs-10">
				<%= f.collection_select(:genre_id, @genres, :id, :name)%>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-2">
				<%= f.label :税抜価格 %>
			</div>
			<div class="col-xs-10">
				<%= f.number_field :price %>円
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-2">
				<%= f.label :販売ステータス %>
			</div>
			<div class="col-xs-10">
				<%= f.select :sales_status, options_for_select([
					["-- 選択してください --",""],["販売中", false],["売切れ", true]
				]) %>
			</div>
		</div>
	</div>



		<div class="col text-right">
				<%= f.submit "新規登録", class: "btn btn-primary"  %>
		</div>
	<% end %>
</div>
