<!DOCTYPE html>
<html>
  <head>
    <title>NAGANOCAKE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar navbar-inverse">
      <div class="container">
        <nav>
          <ul class="left nav navbar-nav navbar-left">
            <%= link_to root_path, class: 'logo' do %>
              <img src="/assets/logo.png">
            <% end %>
          </ul>
        </nav>

        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="name">ようこそ、<%= current_user.first_name %>さん!</li>
              <li><%= link_to 'マイページ', customers_user_path(current_user.id), :style=>"color:black;" %></li>
              <li><%= link_to '商品一覧', customers_products_path, :style=>"color:black;" %></li>
              <li><%= link_to 'カート', customers_cart_items_path, :style=>"color:black;" %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, :style=>"color:black;" %></li>
            <% else %>
              <li><%= link_to '商品一覧', customers_products_path, :style=>"color:black;" %></li>
              <li><%= link_to '新規登録', new_user_registration_path, :style=>"color:black;" %></li>
              <li><%= link_to 'ログイン', new_user_session_path, :style=>"color:black;" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <% if flash[:notice] %>
        <div class="alert alert-success text-center" role="alert">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger text-center" role="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <div class="container">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </main>
    
    <footer>
      <p class="text-center footer-text">製作: DWC team F4</p>
      <div class="icons">
        <i class="fa fa-twitter" aria-hidden="true" ></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>


    </footer>

  </body>
</html>